<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Tienda lider en compra y venta de antigüedades, arte y coleccionismo. Entra y añade un toque distintivo a tu hogar">
        <title>Letelier - Compra y Venta de Antigüedades</title>
        <script src="{{ 'scripts.js' | asset_url }}" defer></script>
        <link rel="stylesheet" href="{{ 'base.css' | asset_url}}">
        <link rel="stylesheet" href="{{ 'normalize.css' | asset_url }}">
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">

        {{ content_for_header }}
    </head>

    <body>
        {% section 'header' %}
        {% section 'cart-drawer' %}

        {{ content_for_layout }}

        {% section 'footer' %}
    </body>
</html>
