<span class="drawer__overlay"></span> 

<div data-visible="false" class="mini__cart-container">
    <div class="cart__header">
        <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.005 22h-16a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1Zm-1-2V4h-14v16h14Zm-10-14v2a3 3 0 1 0 6 0V6h2v2a5 5 0 0 1-10 0V6h2Z"/></svg>
        <span class="cart__header-title">Carrito</span>
        <span class="cart__header-count">{{ cart.item_count}} items </span>
        <svg class="icon mini__cart-close" width="30"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m12 10.586 4.95-4.95 1.415 1.415-4.95 4.95 4.95 4.95-1.415 1.414-4.95-4.95-4.95 4.95-1.413-1.415 4.95-4.95-4.95-4.95L7.05 5.638l4.95 4.95Z"/></svg>
    </div>

    {% form 'cart', cart, class: 'cart-drawer-form' %}
        {% if cart.empty? %}
            <span class="mini__cart-empty">Tu carro está vacío</span>
            <a href="" class="cart__to-store">
                <button class="mini__cart-btn button">Ir a la tienda</button>
            </a>
        {% else %}
            <div class="mini__cart-items">
                {% for item in cart.items %}
                    <div class="mini__cart-item" data-line-item-key="{{ item.key }}">
                        <div class="mini__cart-item-img">
                            <img src="{{ item.image | img_url: '200x' }}" alt="{{ item.title }}" loading="lazy" decoding=“async”>
                        </div>
                        <div class="mini__cart-item-main">
                            <div class="mini__cart-item-main-flex">
                                <div class="mini__cart-item-main-flex-left">
                                    <h3>
                                        <a href="{{ item.url }}"> {{ item.product.title}}</a>
                                    </h3>
                                    <div class="mini__cart-quantity-selector">
                                        <button class="mini__cart-quantity-minus" type="button">
                                            <svg width="25" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 11v2h14v-2H5Z"/></svg>
                                        </button>
                                        <input type="text" readonly value="{{ item.quantity }}" class="item__quantity">
                                        <button class="mini__cart-quantity-plus" type="button">
                                            <svg width="25" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2h6Z"/></svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="mini__cart-item-main-flex-right">
                                    <span>{{ item.final_line_price | money }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="mini__cart-footer">
                {% if cart.total_discounts > 0 %}
                    <div class="mini__cart-footer-row">
                        <span>Descuento</span>
                        <span> {{ cart.total_discounts | money }} </span>
                    </div>
                {% endif %}
                <div class="mini__cart-footer-row">
                    <span>Subtotal:</span>
                    <span> {{cart.total_price | money }} </span>
                </div>
                <button type="submit" name="checkout" class="mini__cart-btn button">Finalizar Compra</button>
            </div>
        {% endif %}
    {% endform %}
</div>



{% schema %}
{
    "name": "Cart Drawer",
    "settings":[

    ]
}
{% endschema %}