
<h2 class="categories__title">
    Categorías de antigüedades populares
</h2>
<div class="popular__categories-container">
{% for collection in collections limit: 4 %}
        <div class="category__individual">  
            <div class="category__img-container">
                <a href="{{ collection.url }}" target="_blank">
                  <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}" class="category__img" width="320" height="432" loading="lazy" decoding=“async”>
                </a>
            </div>
            <div>
                <a href="{{ collection.url }}" target="_blank">
                  <h3 class="category__title">
                    {{ collection.title }}
                  </h3>
                </a>
            </div>
            <div class="category__btn-container">
                <a href="{{ collection.url }}" target="_blank" class="category__link">
                  <button class="black__btn extended__btn">Ir a la categoría</button>
                </a>
            </div>
        </div>
    {% endfor %}
</div>


{% schema %}
{
    "name": "Popular Categories",
    "tag": "section",
    "class": "categories__container",
    "settings": [

    ]
}
{% endschema %}