<section class="collection__page-container">

    <section class="filter__section-container">
            <div class="filter__btn-container">
                <button aria-controls="filter-container" aria-expanded="false" class="filter__openBtn filter__desktop-btn button">Filtrar</button>
            </div>

            <span class="drawer__overlay"></span>

            <div data-visible="false" class="filter__container" id="filter-container">
                <div class="filter__header">
                    <div class="filter__title-container">
                        <span class="filter__title">Filtrar por:</span>
                    </div>

                    <div class="filter__closebtn-container">
                        <button aria-controls="filter-container" class="filter__closebtn" id="filter-closeBtn">
                            <svg class="icon filter-close-icon" width="30"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m12 10.586 4.95-4.95 1.415 1.415-4.95 4.95 4.95 4.95-1.415 1.414-4.95-4.95-4.95 4.95-1.413-1.415 4.95-4.95-4.95-4.95L7.05 5.638l4.95 4.95Z"/></svg>
                        </button>
                    </div>
                </div>

                
                <div class="filter__data-container">
                    <form class="filter-form">
                        {% for filter in collection.filters %}
                            <div class="filter__label-container">
                                <div class="filter__label">
                                    <span class="filter__label-title">{{ filter.label }}</span>
                                    <svg width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m12 13.171 4.95-4.95 1.414 1.415L12 16 5.636 9.636 7.05 8.222l4.95 4.95Z"/></svg>
                                </div>
                            
                            
                                <div class="filter__content">
                                    {%- case filter.type -%}
                                        {%- when 'boolean' or 'list' -%}
                                            {%- for filter_value in filter.values -%}
                                            <div class="filter__collapsible">
                                                <div class="checkbox__container">
                                                    <input onChange="this.form.submit()" class="filter__checkbox" type="checkbox"
                                                    name="{{ filter_value.param_name }}"
                                                    value="{{ filter_value.value }}"
                                                    id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                                    {% if filter_value.active -%}checked{%- endif %}
                                                    {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                                                    >
                                                    <label class="filter__label-value" for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                                                        {{ filter_value.label }}
                                                    </label>
                                                </div>
                                            </div>
                                            {%- endfor -%}
                                            
                                        {%- when 'price_range' -%}
                                            <div class="filter-group-display__price-range">
                                                <div class="filter__mobile__price-container price-container">
                                                    <div class="filter-group-display__price-range-from field">
                                                        <span>{{ cart.currency.symbol }}</span>
                                                        <input name="{{ filter.min_value.param_name }}"
                                                        id="Filter-{{ filter.min_value.param_name }}"
                                                        {% if filter.min_value.value -%}
                                                            value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                                        {%- endif %}
                                                        type="number"
                                                        placeholder="0"
                                                        min="0"
                                                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                        class="input__mobile__min"
                                                        >
                                                    </div>

                                                    <div class="filter__money-separator">-</div>

                                                    <div class="filter-group-display__price-range-to field">
                                                        <span>{{ cart.currency.symbol }}</span>
                                                        <input name="{{ filter.max_value.param_name }}"
                                                        id="Filter-{{ filter.max_value.param_name }}"
                                                        {% if filter.max_value.value -%}
                                                            value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                                        {%- endif %}
                                                        type="number"
                                                        placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                        min="0"
                                                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                        class="input__mobile__max"
                                                        >
                                                    </div>
                                                </div>
                                                <div class="filter__mobile__slider-container">
                                                    <div class="filter__mobile__slider-progress">
                                                    </div>
                                                </div>
                                                <div class="range__mobile__input range__css">
                                                    <input type="range" class="range__mobile__min" min="0" max="{{ filter.range_max | money_without_currency | replace: ',', '' }}" value=0 step="5000">
                                                    <input type="range" class="range__mobile__max" min="0" max="{{ filter.range_max | money_without_currency | replace: ',', '' }}" value="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                                                </div>

                                                <div class="filter__price-apply-btn-container">
                                                    <button type="submit" class="filter__price-apply-btn black__btn">
                                                        Aplicar
                                                    </button>
                                                </div>
                                            </div>
                                        {%- endcase -%}
                            </div>
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
    </section>

    <section class="filter__desktop-section-container">
        <div class="filter__data-container">
            <form class="filter-form">
                {% for filter in collection.filters %}
                    <div class="filter__label-container">
                        <div class="filter__label">
                            <span class="filter__label-title">{{ filter.label }}</span>
                            <svg width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m12 13.171 4.95-4.95 1.414 1.415L12 16 5.636 9.636 7.05 8.222l4.95 4.95Z"/></svg>
                        </div>
                        <div class="filter__content">
                            {%- case filter.type -%}
                                {%- when 'boolean' or 'list' -%}
                                    {%- for filter_value in filter.values -%}
                                    <div class="filter__collapsible">
                                        <div class="checkbox__container">
                                            <input onChange="this.form.submit()" class="filter__checkbox" type="checkbox"
                                            name="{{ filter_value.param_name }}"
                                            value="{{ filter_value.value }}"
                                            id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                            {% if filter_value.active -%}checked{%- endif %}
                                            {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                                            >
                                            <label class="filter__label-value" for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                                                {{ filter_value.label }}
                                            </label>
                                        </div>
                                    </div>
                                    {%- endfor -%}
                                    
                                {%- when 'price_range' -%}
                                    <div class="filter-group-display__price-range">
                                        <div class="filter__price-container price-container">
                                            <div class="filter-group-display__price-range-from field">
                                                <span>Min</span>
                                                <span>{{ cart.currency.symbol }}</span>
                                                <input name="{{ filter.min_value.param_name }}"
                                                id="Filter-{{ filter.min_value.param_name }}"
                                                {% if filter.min_value.value -%}
                                                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                                {%- endif %}
                                                type="number"
                                                placeholder="0"
                                                min="0"
                                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                class="input__min"
                                                >
                                            </div>

                                            <div class="filter__money-separator">-</div>

                                            <div class="filter-group-display__price-range-to field">
                                                <span>Max</span>
                                                <span>{{ cart.currency.symbol }}</span>
                                                <input name="{{ filter.max_value.param_name }}"
                                                id="Filter-{{ filter.max_value.param_name }}"
                                                {% if filter.max_value.value -%}
                                                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                                {%- endif %}
                                                type="number"
                                                placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                min="0"
                                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                class="input__max"
                                                >
                                            </div>
                                        </div>
                                        <div class="filter__mobile__slider-container">
                                            <div class="filter__mobile__slider-progress">
                                            </div>
                                        </div>
                                        <div class="range__input range__css">
                                            <input type="range" class="range__min" min="0" max="{{ filter.range_max | money_without_currency | replace: ',', '' }}" value=0 step="5000">
                                            <input type="range" class="range__max" min="0" max="{{ filter.range_max | money_without_currency | replace: ',', '' }}" value="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                                        </div>

                                        <div class="filter__price-apply-btn-container">
                                            <button type="submit" class="filter__price-apply-btn black__btn">
                                                Aplicar
                                            </button>
                                        </div>
                                    </div>
                            {%- endcase -%}
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    </section>

    <section class="collection__section-container">

        <div class="collection__information-container">
            <div class="collection__information-title-container">
                <h2 class="collection__information-title">
                    {{ collection.title }}
                </h2>
            </div>
            <div class="collection__information-desc-container">
                <p class="collection__information-desc">
                    {{ collection.description}}
                </p>
            </div>
        </div>

        <div class="filter__btn-container">
            <button aria-controls="filter-container" aria-expanded="false" class="filter__openBtn filter__mobile-btn button">Filtrar</button>
        </div>

        {% paginate collection.products by 12 %}
            <section class="collection__container">
                <div class="collection__items-container">
                {% assign collection = collection.products | sort: 'created_at' | reverse %}
                    {% for product in collection %}
                        <div class="collection__item">
                            <a href="{{ product.url }}" class="collection_a-img">
                                <img src="{{ product.featured_image | product_img_url: 'grande' }}" width="302" height="417" alt="{{ product.title }}" class="collection__img" decoding=“async”>
                                <h3 class="collection__item-title">{{ product.title }}</h3>
                                {% if product.available == true %}
                                    <span class="collection__price">{{ product.price | money }}</span>
                                {% else %}
                                    <span class="collection__price">No disponible</span>
                                {% endif %}
                            </a>
                            {% if product.available == true %}
                                <form action="/cart/add" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                                <input type="hidden" name="quantity" value="1">
                                <button type="submit" class="black__btn">Agregar al carrito</button>
                            </form>
                            {% else %}
                                <a href="{{ product.url }}" class="black__btn">Ver Producto</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </section>
        <div class="pagination">
            {{ paginate | default_pagination }} 
        </div>
        {% endpaginate %}
    </section>
</section>

{% schema %}
{
    "name": "Collection Page",
    "settings": [
    ]
}
{% endschema %}