{% paginate collection.products by 4 %}
    <section class="collection__container">
        <div class="collection__items-container">
            {% for product in collections['all'].products limit: 8 %}
                <div class="collection__item">
                    <a href="{{ product.url }}" class="collection_a-img">
                        <img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.title }}" class="collection__img">
                        <h3 class="collection__item-title">{{ product.title }}</h3>
                        <span class="collection__price">{{ product.price | money }}</span>
                    </a>
                    <form action="/cart/add" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" class="collection__btn button">Agregar al carrito</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </section>
 {{ paginate | default_pagination }}
{% endpaginate %}

