<footer class="footer__container">
    <div class="width">
        <div class="footer__top">
            <div class="footer__logo-container">
                <a href="https://letelier.art" target="_blank" class="footer__logo-link">
                    <img src="{{ settings.logo-inverted | img_url: 'master'}}" alt="letelier-logo" class="logo footer__logo" loading="lazy" decoding=“async”>
                </a>
            </div>

            <div class="footer__aboutshop-container footer__column">
                <div class="footer__column-title-container">
                    <h3 class="footer__column-title">{{ section.settings.footer-about-title}}</h3>
                </div>

                <div>
                    <p class="footer__aboutshop">
                        {{ section.settings.footer-about }}
                    </p>
                </div>
            </div>

            <div class="footer__column-container">
                {% for block in section.blocks %}
                    {% if block.type == 'navigation' %}
                        <div class="footer__column">
                            <div class="footer__column-title-container">
                                <h3 class="footer__column-title">{{block.settings.linklist.title}}</h3>
                            </div>

                            <div class="footer__column-links-container">
                                <ul class="footer__linklist">
                                    {% for link in block.settings.linklist.links %}
                                        <li class="footer__link"><a class="footer__column-link" href="{{ link.url }}">{{ link.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer__copy">
                <span>{{ section.settings.copyright }}</span>
                <span class="madeby">{{ section.settings.madeby }}</span>
            </div>
        </div>
    </div>

</footer>


{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "id": "copyright",
            "label": "Copyright text",
            "type": "text"
        },
        {
            "id": "madeby",
            "label": "Hecho por",
            "type": "text"
        },
        {
            "id": "footer-about",
            "label": "Sobre la tienda",
            "type": "textarea"
        },
        {
            "id": "footer-about-title",
            "label": "Titulo about",
            "type": "text"
        }
    ],
    "max_blocks": 5,
    "blocks": [
        {
            "name": "Navigation Column",
            "type": "navigation",
            "settings": [
                {
                    "type": "link_list",
                    "id": "linklist",
                    "label": "Navigation Menu"
                }
            ]
        }
    ]
}
{% endschema %}