<nav class="nav">
    <a href="https://letelier.art" class="header-logo" aria-label="To go to home page of letelier.art">
        <img src="{{ settings.logo | img_url: 'master' }}" width="240" height="58" alt="Letelier logo" class="logo" decoding=“async”>
    </a>
    <div class="buttons__container">
        <button aria-expanded="false" class="icon" id="cart-toggle">
            <svg width="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.005 22h-16a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1Zm-1-2V4h-14v16h14Zm-10-14v2a3 3 0 1 0 6 0V6h2v2a5 5 0 0 1-10 0V6h2Z"/>
                <span class="sr-only">Cart</span>
            </svg>
            <span class="header__cart-count"> {{ cart.item_count }} </span>
        </button>

        <button aria-controls="nav-search" aria-expanded="false" class="mobile__search__toggle icon" id="search-toggle">
            <svg width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path id="search-icon-path" d="m18.031 16.617 4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617Zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.867-3.133-7-7-7s-7 3.133-7 7 3.133 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15Z"/>
                <span class="sr-only">Search</span>
            </svg>
        </button>

        <button aria-controls="nav-list" aria-expanded="false" class="mobile__nav__toggle icon" id="nav-toggle">
            <svg width="31" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path id="menu-icon-path" d="M3 4h18v2H3V4Zm0 7h18v2H3v-2Zm0 7h18v2H3v-2Z"/>
                <span class="sr-only">Menu</span>
            </svg>
        </button>
    </div>


    <ul data-visible="false" class="nav__list nav__list-mobile" id="nav-list">
        {% for link in section.settings.navigation.links %}
            <li class="nav__item">
                <a href="{{ link.url }}" class="nav__link">
                    {{ link.title}}
                </a>
                {% if link.links != blank %}
                    <svg class="header__dropdown-icon" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m12 13.171 4.95-4.95 1.414 1.415L12 16 5.636 9.636 7.05 8.222l4.95 4.95Z"/></svg>
                    <div class="sublinks__container-m">
                        Antigüedades m
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <ul class="nav__list-desktop">
        {% for link in section.settings.navigation.links %}
            <li class="nav__item">
                <a href="{{ link.url }}" class="nav__link">
                    {{ link.title}}
                </a>
                {% if link.links != blank %}
                    <div class="dropdown__menu information__grid">
                    {% for child_link in link.links %}
                        <div class="dropdown__heading">{{ child_link.title }}</div>
                        {% if child_link.links.size > 0 %}
                            <div>
                                {% for grandchild_link in child_link.links %}
                                    <a href="{{ grandchild_link.url}}" target="_blank" >{{ grandchild_link.title }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <div data-visible="false" class="navmenu__search-container" id="nav-search">
        <form action="{{ routes.search_url }}" class="search__form" autocomplete="off">
            <input type="text"
                placeholder="Buscar"
                name="q"
                value="{{ search.terms | escape }}"
                class="search__input"
            >
            <button type="submit" class="icon">
                <svg width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="m18.031 16.617 4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617Zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.867-3.133-7-7-7s-7 3.133-7 7 3.133 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15Z"/>
                    <span class="sr-only">Search</span>
                </svg>  
            </button>
        </form>
    </div>
</nav>

{% schema %}
{
    "name": "Header",
    "tag": "header",
    "class": "header width",
    "settings":[
        {
            "type": "link_list",
            "id": "navigation",
            "label": "Navigation Menu",
            "default": "main-menu"
        }
    ]
}
{% endschema %}