<nav class="nav">
    <a href="/" class="header-logo">
    <img src="{{ settings.logo | img_url: 'master' }}" alt="{{ site.name }}" class="logo">
    </a>
    <div class="buttons__container">

        
        <button aria-expanded="false" class="mobile__cart__toggle icon" id="cart-toggle">
                <i class="ri-shopping-bag-2-line">
                    <span class="sr-only">Cart</span>
                </i>
                <span class="header__cart-count"> {{ cart.item_count }} </span>
        </button>

        <button aria-expanded="false" class="mobile__account__toggle icon" id="account-toggle">
                <i class="ri-account-circle-line">
                    <span class="sr-only">Account</span>
                </i>
        </button>

        <button aria-expanded="false" class="mobile__search__toggle icon" id="search-toggle">
                <i class="ri-search-line">
                    <span class="sr-only">Search</span>
                </i>
        </button>

        <button aria-controls="nav-list" aria-expanded="false" class="mobile__nav__toggle icon" id="nav-toggle">
                <i class="ri-menu-line">
                    <span class="sr-only">Menu</span>
                </i>
        </button>
    </div>


    <ul data-visible="false" class="nav__list" id="nav-list">
        {% for link in section.settings.navigation.links %}
            <li class="nav__item">
                <a href="{{ link.url }}" class="nav__link">
                    {{ link.title}}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>


<script>
const navMenu = document.querySelector('.nav__list');
const toggleButton = document.getElementById('nav-toggle');


toggleButton.addEventListener('click', () => {
    const visibility = navMenu.getAttribute('data-visible');

    if(visibility === "false"){
        navMenu.setAttribute('data-visible', true); //show menu on mobile
        toggleButton.setAttribute('aria-expanded',true) //search purpose
        toggleButton.firstElementChild.classList.replace('ri-menu-line','ri-close-line') //change icon
    }else{
        navMenu.setAttribute('data-visible', false)
        toggleButton.setAttribute('aria-expanded',false)
        toggleButton.firstElementChild.classList.replace('ri-close-line','ri-menu-line')
    }
})
</script>



{% schema %}
{
    "name": "Header",
    "tag": "header",
    "class": "header width",
    "settings":[
        {
            "type": "link_list",
            "id": "navigation",
            "label": "Navigation Menu",
            "default": "main-menu"
        }
    ]
}
{% endschema %}