<nav class="nav">
    <a href="/" class="header-logo">
    <img src="{{ settings.logo | img_url: 'master' }}" alt="{{ site.name }}" class="logo">
    </a>
    <div class="buttons__container">

        
        <button aria-expanded="false" class="mobile__cart__toggle icon" id="cart-toggle">
                <svg width="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.005 22h-16a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1Zm-1-2V4h-14v16h14Zm-10-14v2a3 3 0 1 0 6 0V6h2v2a5 5 0 0 1-10 0V6h2Z"/>
                    <span class="sr-only">Cart</span>
                </svg>
                <span class="header__cart-count"> {{ cart.item_count }} </span>
        </button>

        {% comment %} <button aria-expanded="false" class="mobile__account__toggle icon" id="account-toggle">
                <i class="ri-account-circle-line">
                    <span class="sr-only">Account</span>
                </i>
        </button> {% endcomment %}

        <button aria-controls="nav-search" aria-expanded="false" class="mobile__search__toggle icon" id="search-toggle">
                <i class="ri-search-line">
                    <span class="sr-only">Search</span>
                </i>
        </button>

        <button aria-controls="nav-list" aria-expanded="false" class="mobile__nav__toggle icon" id="nav-toggle">
                <i class="ri-menu-line">
                    <span class="sr-only">Menu</span>
                </i>
        </button>
    </div>


    <ul data-visible="false" class="nav__list" id="nav-list">
        {% for link in section.settings.navigation.links %}
            <li class="nav__item">
                <a href="{{ link.url }}" class="nav__link">
                    {{ link.title}}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div data-visible="false" class="navmenu__search-container" id="nav-search">
        <form action="{{ routes.search_url }}" class="search__form" autocomplete="off">
            <input type="text"
                placeholder="Buscar"
                name="q"
                value="{{ search.terms | escape }}"
                class="search__input"
            >
            <button type="submit" class="mobile__search__toggle icon">
                <i class="ri-search-line"><span class="sr-only">Search</span></i>    
            </button>
        </form>
    </div>
</nav>


<script>
const navMenu = document.querySelector('.nav__list');
const toggleButton = document.getElementById('nav-toggle');


toggleButton.addEventListener('click', () => {
    const visibility = navMenu.getAttribute('data-visible');

    if(visibility === "false"){
        navMenu.setAttribute('data-visible', true); //show menu on mobile
        toggleButton.setAttribute('aria-expanded',true) //search purpose
        toggleButton.firstElementChild.classList.replace('ri-menu-line','ri-close-line') //change icon
    }else{
        navMenu.setAttribute('data-visible', false)
        toggleButton.setAttribute('aria-expanded',false)
        toggleButton.firstElementChild.classList.replace('ri-close-line','ri-menu-line')
    }
})

const navSearchBtn = document.getElementById('search-toggle');
const navSearchContainer = document.querySelector('.navmenu__search-container');

navSearchBtn.addEventListener('click', () => {
    const visibility = navSearchContainer.getAttribute('data-visible');

    if(visibility === "false"){
        navSearchContainer.setAttribute('data-visible', true); //show menu on mobile
        navSearchBtn.setAttribute('aria-expanded',true) //search purpose
        navSearchBtn.firstElementChild.classList.replace('ri-search-line','ri-close-line') //change icon
    }else{
        navSearchContainer.setAttribute('data-visible', false)
        navSearchBtn.setAttribute('aria-expanded',false)
        navSearchBtn.firstElementChild.classList.replace('ri-close-line','ri-search-line')
    }
})
</script>



{% schema %}
{
    "name": "Header",
    "tag": "header",
    "class": "header width",
    "settings":[
        {
            "type": "link_list",
            "id": "navigation",
            "label": "Navigation Menu",
            "default": "main-menu"
        }
    ]
}
{% endschema %}