<main class="main">
    <section class="home__container">
        <div class="home__img-container">
            <picture>
                <source srcset="{{section.settings.hero__desktop-img | img_url: 'master'}}" media="(min-width: 600px)" alt="home-image"> 
                <img src="{{section.settings.hero__mobile-img | img_url: 'master'}}" alt="landing image" height=“600” width=“600” loading=“lazy” decoding=“async” class="hero__img-tag"> 
            </picture>
        </div>
        <section class="home__info">
            <span class="home__title">{{ section.settings.hero__title}}</span>
            <p class="home__p">{{ section.settings.hero__desc }}</p>
            <a href="{{ section.settings.hero__button-link }}" target="_blank">
                <button class="home__btn button" id="home-btn">{{ section.settings.hero__button-title }}</button>
            </a>
        </section>
    </section>
</main>

{% schema %}
{
    "name": "Main",
    "tag": "section",
    "class": "main",
    "settings": [
        {
            "type": "image_picker",
            "id": "hero__desktop-img",
            "label": "Hero desktop"
        },
        {
            "type": "image_picker",
            "id": "hero__mobile-img",
            "label": "Hero mobile"
        },
        {
            "type": "text",
            "id": "hero__title",
            "label": "Hero title"
        },
        {
            "type": "textarea",
            "id": "hero__desc",
            "label": "Hero description"
        },
        {
            "type": "text",
            "id": "hero__button-title",
            "label": "Hero button title"
        },
        {
            "type": "text",
            "id": "hero__button-link",
            "label": "Hero button link"
        }
    ]
}
{% endschema %}