<h2 class="popular__section-title">Objetos más populares</h2>
<div class="popular__items-container">
    {% for product in collections['all'].products limit: 4 %}
        <div class="popular__item">
            <a href="{{ product.url }}">
                <img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.title }}"  loading="lazy" class="popular__img" decoding=“async”>
                <h3 class="popular__item-title">{{ product.title }}</h3>
            </a>
            <span class="popular__price">{{ product.price | money }}</span>
            <form action="/cart/add" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="popular__btn button">Agregar al carrito</button>
            </form>
        </div>
    {% endfor %}
</div>



{% schema %}
{
    "name": "Popular Products",
    "tag": "article",
    "class": "popular__container",
    "settings": [

    ]
}
{% endschema %}