<article class="product__page-container">
    <div class="product__page-top-container">
        <div class="product__page-imgs-container">
            <div class="product__page-main-img-container">
                <button class="previous-img-btn img-icon icon">
                    <svg width="65" fill="gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m10.828 12 4.95 4.95-1.414 1.415L8 12l6.364-6.364 1.414 1.414-4.95 4.95Z"/></svg>
                </button>
                <div id="magnifying_area" class="main-img-container">
                    <img src="{{ product.featured_image | image_url: width: 1024}}" id="magnifying_img" alt="{{ product.title }}" class="main-img" decoding=“async”>
                </div>
                <button class="next-img-btn img-icon icon">
                    <svg width="65" fill="gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m13.171 12-4.95-4.95 1.415-1.413L16 12l-6.364 6.364-1.414-1.415 4.95-4.95Z"/></svg>
                </button>
            </div>
            
            <div class="product__page-small-imgs-container">
                {% comment %} a for to create a list with the secondary images {% endcomment %}
            </div>
        </div>


        <div class="product__page-info-container">
            <div class="product__page-info">
                <h2 class="product__page-item-title">{{ product.title }}</h2>
                <span class="product__page-item-year"> Circa 1895 </span>
                <span class="product__page-item-price">{{ product.price | money }}</span>
            </div>

            <div class="product__page-main-btns-container">
                <form action="/cart/add" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                    <input type="hidden" name="quantity" value="1">
                    <button class="product__page-add-cart product_btn black__btn">Añadir al carrito</button>
                </form>
                {% comment %} <button class="product__page-request-info product_btn black__btn">Pedir informacion</button> {% endcomment %}
            </div>

            <div class="product__page-social-container">
                <button class="social__btn product__social-btn" aria-label="botón whatsapp">
                    <svg width="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m7.254 18.494.724.423A7.953 7.953 0 0 0 12.001 20a8 8 0 1 0-8-8c0 1.436.377 2.813 1.084 4.024l.422.724-.653 2.401 2.4-.655ZM2.005 22l1.352-4.968A9.953 9.953 0 0 1 2.001 12c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10a9.954 9.954 0 0 1-5.03-1.355L2.005 22ZM8.392 7.308c.134-.01.269-.01.403-.004.054.004.108.01.162.016.159.018.334.115.393.249.298.676.588 1.357.868 2.04.062.152.025.347-.093.537-.06.097-.154.233-.263.372-.113.145-.356.411-.356.411s-.099.118-.061.265c.014.056.06.137.102.205l.059.095c.256.427.6.86 1.02 1.268.12.116.237.235.363.346.468.413.998.75 1.57 1l.005.002c.085.037.128.057.252.11.062.026.126.048.191.066a.35.35 0 0 0 .367-.13c.724-.877.79-.934.796-.934v.002a.482.482 0 0 1 .378-.127c.06.004.121.015.177.04.531.243 1.4.622 1.4.622l.582.261c.098.047.187.158.19.265.004.067.01.175-.013.373-.032.259-.11.57-.188.733a1.158 1.158 0 0 1-.21.302 2.381 2.381 0 0 1-.33.288c-.082.062-.125.09-.125.09a5.063 5.063 0 0 1-.383.22 1.99 1.99 0 0 1-.833.23c-.185.01-.37.024-.556.014-.008 0-.568-.087-.568-.087a9.448 9.448 0 0 1-3.84-2.046c-.226-.199-.436-.413-.65-.626-.888-.885-1.561-1.84-1.97-2.742a3.472 3.472 0 0 1-.33-1.413 2.73 2.73 0 0 1 .565-1.68c.073-.094.142-.192.261-.305.126-.12.207-.184.294-.228a.961.961 0 0 1 .371-.1Z"/></svg>
                </button>
                <button class="social__btn product__social-btn" aria-label="botón instagram">
                    <svg width="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.001 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm0-2a5 5 0 1 1 0 10 5 5 0 0 1 0-10Zm6.5-.25a1.25 1.25 0 0 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM12.001 4c-2.474 0-2.878.007-4.029.058-.784.037-1.31.142-1.798.332-.434.168-.747.369-1.08.703a2.89 2.89 0 0 0-.704 1.08c-.19.49-.295 1.015-.331 1.798C4.007 9.075 4 9.461 4 12c0 2.475.007 2.878.058 4.029.037.783.142 1.31.331 1.797.17.435.37.748.702 1.08.337.336.65.537 1.08.703.494.191 1.02.297 1.8.333 1.104.052 1.49.058 4.029.058 2.475 0 2.878-.007 4.029-.058.782-.037 1.308-.142 1.797-.331.433-.169.748-.37 1.08-.703.337-.336.538-.649.704-1.08.19-.492.296-1.018.332-1.8.052-1.103.058-1.49.058-4.028 0-2.474-.007-2.878-.058-4.029-.037-.782-.143-1.31-.332-1.798a2.912 2.912 0 0 0-.703-1.08 2.884 2.884 0 0 0-1.08-.704c-.49-.19-1.016-.295-1.798-.331C14.926 4.006 14.54 4 12 4Zm0-2c2.717 0 3.056.01 4.123.06 1.064.05 1.79.217 2.427.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.884 4.884 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465-1.067.047-1.406.06-4.123.06-2.717 0-3.056-.01-4.123-.06-1.064-.05-1.789-.218-2.427-.465a4.89 4.89 0 0 1-1.772-1.153 4.905 4.905 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428-.048-1.066-.06-1.405-.06-4.122 0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772 4.897 4.897 0 0 1 1.772-1.153c.637-.248 1.362-.415 2.427-.465C8.945 2.013 9.284 2 12.001 2Z"/></svg>
                </button>
                <button class="social__btn product__social-btn" aria-label="botón facebook">
                    <svg width="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.001 2c-5.523 0-10 4.477-10 10 0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12c0-5.523-4.477-10-10-10Z"/></svg>
                </button>    
            </div>
        </div>
    </div>

    <div class="product__page-desc-container">
        <h2 class="product__page-desc-title">DESCRIPCION DE LA ANTIGÜEDAD</h2>
        <div class="product__page-desc-details-container">
            <h3 class="product__page-desc-details-title">Detalles y especificaciones</h3>
        </div>
        <div>
            <ul class="product__page-details-ul">
                <li>Alto: {{ product.metafields.producto.alto.value }}</li>
                <li>Ancho: {{ product.metafields.producto.ancho.value }}</li>
                <li>Peso: {{ product.metafields.producto.peso.value }}</li>
                <li>Material: {{ product.metafields.producto.material.value }}</li>
                <li>Origen: {{ product.metafields.producto.origen.value }}</li>
                <li>Condicion: {{ product.metafields.producto.condicion.value }}</li>
            </ul>
        </div>
        <div class="product__page-item-p-container">
            <h3 class="product__page-desc-details-title">Información de la antigüedad</h3>
            <p class="product__page-item-desc">
                {{ product.description }}
            </p>
        </div>
    </div>
</article>

<script>
    // PRODUCT ZOOM
    const magnifyingArea = document.getElementById("magnifying_area");
    const magnifyingImg = document.getElementById("magnifying_img");

    magnifyingArea.addEventListener('mousemove', function(e){
        clientX = e.clientX - magnifyingArea.offsetLeft
        clientY = e.clientY - magnifyingArea.offsetTop

        mWidth = magnifyingArea.offsetWidth
        mHeight = magnifyingArea.offsetHeight

        clientX = clientX / mWidth * 125   
        clientY = clientY / mHeight * 125

        magnifyingImg.style.transform = 'translate(-'+clientX+'%, -'+clientY+'%) scale(2)'

    })

    magnifyingArea.addEventListener('mouseleave', function(){
        magnifyingImg.style.transform = 'translate(-50%,-50%) scale(1)'
    })

</script>