<div class="related__section-title-container">
    <h2 class="related__section-title">Otras antigüedades que te pueden interesar</h2>
</div>
<div class="related__items-container">
    {% for product in collections['all'].products limit: 4 %}
        <div class="related__item-container">
                <div class="related__item-img-container">
                    <a href="{{ product.url }}" class="related__item-a" target="_blank">
                        <img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.title }}"  loading="lazy" decoding=“async” class="related__item-img">
                    </a>
                </div>
                <div class="related__item-title-container">
                    <a href="{{ product.url }}" class="related__item-a" target="_blank">
                        <h3 class="related__item-title">{{ product.title }}</h3>
                    </a>
                </div>
                <div class="related__item-price-container">
                    <a href="{{ product.url }}" class="related__item-a" target="_blank">
                        <span class="related__item-price">{{ product.price | money }}</span>
                    </a>
                </div>
                <div class="related__item-btn-container">
                    <form action="/cart/add" method="post" enctype="multipart/form-data" class="related__form">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" class="black__btn">Agregar al carrito</button>
                    </form>
                </div>
        </div>
    {% endfor %}
</div>
{% comment %} 
{% if cart.item_count > 0 %}
    {% assign relatedId = cart.items[0].product_id %}
{% else %}
    {% assign relatedId = 6973777051714 %}
{% endif %}

<script>
    fetch(window.Shopify.routes.root + "recommendations/products.json?product_id={{ relatedId }}&limit=4")
        .then(response => response.json())
        .then(({ products }) => {
            console.log(products)
        }
    );
</script> {% endcomment %}


{% schema %}
{
    "name": "Related Products",
    "tag": "article",
    "class": "related__container",
    "settings": [

    ]
}
{% endschema %}