<div class="sell__info-container">
    <h2 class="sell__section-title">
        {{ section.settings.vendeHome__title }}
    </h2>
    <span class="sell__section-desc">
        {{ section.settings.vendeHome__desc }}
    </span>
    <span class="sell__section-desc cta">
        {{ section.settings.vendeHome__cta }}
    </span>

    <a href="https://letelier.art/pages/vender" target="_blank">
      <button class="sell__button black__btn">{{ section.settings.vendeHome__button }}</button>
    </a>
</div>
<div class="sell__img-container">
    <img src="{{ section.settings.sell | img_url: 'master' }}" alt="Foto de una camara antigua" loading="lazy" class="sell__img" decoding=“async”>
</div>


{% schema %}
{
    "name":"vende",
    "tag": "article",
    "class": "sell__section",
    "settings":[
        {
            "type": "image_picker",
            "id": "sell",
            "label": "Sell image"
        },
        {
            "type": "text",
            "id": "vendeHome__title",
            "label": "Vende home title"
        },
        {
            "type": "textarea",
            "id": "vendeHome__desc",
            "label": "Vende home desc"
        },
        {
            "type": "text",
            "id": "vendeHome__cta",
            "label": "Vende home cta"
        },
        {
            "type": "text",
            "id": "vendeHome__button",
            "label": "Vende home button text"
        }
    ]
}
{% endschema %}