<h2 class="whyus__container-title">
    {{ section.settings.whyus__section-title }}
</h2>
<div class="reasons__container">
    <div class="whyus__reason">
        <i class="ri-truck-line reason__icon"></i>
        <h3 class="whyus__title">
            {{ section.settings.whyus__individual-title-1 }}
        </h3>
        <p class="whyus__desc">
            {{ section.settings.whyus__individual-desc-1 }}
        </p>
    </div>

    <div class="whyus__reason">
        <i class="ri-money-dollar-circle-line reason__icon"></i>
        <h3 class="whyus__title">
            {{ section.settings.whyus__individual-title-2 }}
        </h3>
        <p class="whyus__desc">
            {{ section.settings.whyus__individual-desc-2 }}
        </p>
    </div>

    <div class="whyus__reason">
        <i class="ri-search-line reason__icon"></i>
        <h3 class="whyus__title">
            {{ section.settings.whyus__individual-title-3 }}
        </h3>
        <p class="whyus__desc">
            {{ section.settings.whyus__individual-desc-3 }}
        </p>
    </div>
</div>



{% schema %}
{
    "name": "Why Us",
    "tag": "article",
    "class": "whyus__container",
    "settings":[
        {
            "type": "text",
            "id": "whyus__section-title",
            "label": "Why Us Section Title"
        },
        {
            "type": "text",
            "id": "whyus__individual-title-1",
            "label": "Why Us title 1"
        },
        {
            "type": "text",
            "id": "whyus__individual-title-2",
            "label": "Why Us title 2"
        },
        {
            "type": "text",
            "id": "whyus__individual-title-3",
            "label": "Why Us title 3"
        },
        {
            "type": "textarea",
            "id": "whyus__individual-desc-1",
            "label": "Why Us desc 1"
        },
        {
            "type": "textarea",
            "id": "whyus__individual-desc-2",
            "label": "Why Us desc 2"
        },
        {
            "type": "textarea",
            "id": "whyus__individual-desc-3",
            "label": "Why Us desc 3"
        }
    ]
}
{% endschema %}