<h2 class="relate__section-title">Otras antigüedades que te pueden interesar</h2>
<div class="related__items-container">
    {% for product in collections['all'].products limit: 8 %}
        <div class="related__item">
            <a href="{{ product.url }}" class="related_a-img">
                <img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.title }}" class="related__img">
                <h3 class="related__item-title">{{ product.title }}</h3>
            </a>
            <span class="related__price">{{ product.price | money }}</span>
            <form action="/cart/add" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="related__btn button">Agregar al carrito</button>
            </form>
        </div>
    {% endfor %}
</div>
